__pycache__/
*.pyc
*.pt
*.pth
.env
experiments/**/checkpoints/*
experiments/**/results/*
experiments/**/plots/*
experiments/**/logs/*
!experiments/**/.gitkeep
!experiments/**/README.md

# Ignore the virtual environment directory
CSMFII-ENV/

# Ignore specific subdirectories in step_1_1
experiments/step_1_1/nice_improved/
experiments/step_1_1/logs/
experiments/step_1_1/plots/
experiments/step_1_1/results/

# Ignore files
*.log
*.gz
*.log
*.sh
.gitignore

# ignore specific subdirectories in step_1_1
experiments/step_1_1/glow_improved_x
experiments/step_1_1/nice_improved_x
experiments/step_1_1/realnvp_improved_x

# Ignore all checkpoints in any subdirectory of experiments
/experiments/**/checkpoints/